---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello guys my name is Armin Yousefzadeh . I'm a young computer science student who is also interested in programming and creating weird stuff 😉
		this is a basic project to introduce myself and show some stuff that I'm going to make in the future.
	</p>

</Layout>
